<h1>Der Aufstieg <nobr>der [$NSDAP/AfD]</nobr></h1>
<h2>Ein [historischer/fiktiver] [Rück/Aus$]blick</h2>
<p></p>
<p>
	Die [NSDAP/AfD] hat sich zwischen [1920/2013] und [1933/2028] von einer kleinen Splitterpartei zu
	einer der mächtigsten politischen Bewegungen in Deutschland entwickelt. Ihr Aufstieg war eng mit
	den politischen und wirtschaftlichen Krisen der [Weimarer R/Bundesr$]epublik verbunden.
</p>
<h3>Die Anfänge</h3>
<p>
	Eine zentrale Strategie der [NSDAP/AfD] war der massive Einsatz von Propaganda in eigenen Medien
	und bei öffentlichen Auftritten. Sie wiederholte beständig [antisemitische/rassistische]
	Unwahrheiten und Verschwörungserzählungen, verbreitete Angst und Hass [auf den Straßen/im
	Internet] und radikalisierte ihre Anhänger, bis die Narrative in der Mitte der Gesellschaft
	angekommen waren und auch von etablierten Medien und Politikern übernommen wurden. Mit dieser
	erfolgreichen Propaganda&shy;strategie gelang es ihr, breite Bevölkerungs&shy;schichten zu
	mobilisieren.
</p>
<p>
	Die großen Parteien der [Weimarer R/Bundesr$]epublik - die
	[Sozialdemokratische/Sozialdemokratische] [Partei/Partei] [Deutschlands/Deutschlands]
	[(SPD)/(SPD)], die [Deutsche/Christlich] [Zentrumspartei/Demokratische Union (CDU)] und die
	[Bayerische Volkspartei (BVP)/Christlich Soziale Union (CSU)] - versuchten, die Demokratie zu
	stabilisieren, konnten aber angesichts von Inflation, Arbeitslosigkeit und politischer
	Radikalisierung oft nicht genügend Widerstand leisten. Hinzu kamen gegensätzliche Strategien im
	Umgang mit der [NSDAP/AfD]: Konservative sahen die Ausbreitung rechtsextremer Positionen in
	Teilen der Bevölkerung nicht als Folge der [NSDAP/AfD]-Propaganda, sondern als Ausdruck der
	öffentlichen Meinung. Sie folgten daher dem Rechtsruck, was zu einer weiteren politischen
	Spaltung der politischen Mitte führte.
</p>
<p>
	Die bürgerlich-liberale [DVP/FDP], die in der [Weimarer R/Bundesr$]epublik eine wichtige
	politische Kraft gewesen war, entwickelte zunehmend einen wirtschaftsliberalen Kurs und rückte ab
	[1929/2024] nach rechts. Dadurch verlor sie immer mehr an Zustimmung, bis sie schließlich
	bedeutungslos wurde.
</p>
<p>
	Die Parteien links von der [SPD/SPD] gewannen in dieser Zeit an Einfluss und forderten einen
	Systemwechsel, taten aber wenig bis nichts, um Wähler aus anderen Schichten zu gewinnen. Im
	Gegenteil, die kleinbürgerliche Mittelschicht wurde verprellt. So fand die [NSDAP/AfD] in den
	linken Parteien ihren größten politischen Gegner und beschimpfte sie und ihre Anhänger als
	„[bolschewistisch/links-grün-versifft]“.
</p>

<h3>Frühe Jahre und politische Radikalisierung</h3>
<p>
	Die [Spanische Grippe/Coronapandemie] von [1918/2020] bis [1920/2022], die Inflation und die
	zunehmende wirtschaftlichen Probleme ab [1923/2020] sowie die steigende Arbeitslosigkeit
	verschlechterten die wirtschaftliche Lage vieler Deutscher. [1928/2023] gingen in ganz
	Deutschland Bauern auf die Straße, um gegen die Politik aus Berlin zu demonstrieren. Gravierende
	Versäumnisse bei der Reform der Verwaltung der [Weimarer R/Bundesr$]epublik und die mangelnde
	Kompromissfähigkeit der etablierten Parteien führten zu einem breiten Vertrauensverlust der
	Bevölkerung in das politische System. Die [NSDAP/AfD] nutzte die Unsicherheiten und Ängste
	geschickt aus und inszenierte sich sich mit ihrem „[nationalen/Zukunftsplan] [Wiederaufstieg/für
	Deutschland]“. Ihr Versprechen, das politische Chaos zu beenden und Deutschland wieder stark zu
	machen, fand großen Anklang.
</p>

<h3>Wahlerfolge der [$NSDAP/AfD]</h3>
<p>
	Bei den [Reich/Bunde$]stagswahlen [1928/2021] wurde die [SPD/SPD] stärkste Fraktion im
	[Reich/Bunde$]stag. Aufgrund der schwierigen Mehrheitsverhältnisse zog sich die Regierungsbildung
	jedoch über viele Wochen hin. Unter der Führung von [Reich/Bunde$]skanzler [Hermann Müller/Olaf
	Scholz] wurde schließlich eine Koalition aus mehreren Parteien gebildet. Das neue Kabinett geriet
	gleich zu Beginn seiner Amtszeit in eine schwere Krise. Grund dafür waren die konfliktreichen,
	politischen Auseinandersetzungen zwischen den Koalitionspartnern selbst. Vor allem in den
	Bereichen Haushalt und Sozialleistungen lagen die Positionen weit auseinander. Dies führte
	schließlich [1930/2024] zum Bruch der Koalition.
</p>
<p>
	Während die [SPD/SPD]-geführte Regierung mit ihren koalitionsinternen Problemen beschäftigt war,
	vollzog sich eine weitere Radikalisierung der Parteienlandschaft. So spaltete sich aus der
	[KPD/Linken] [der/das] [Leninbund/BSW] ab, um nach kurzen Erfolgen wieder zu zerfallen.
</p>
<p>
	Gleichzeitig übernahmen die konservativen Parteien Positionen der [NSDAP/AfD]. So rückte [das
	Zentrum/die CDU$] immer weiter nach rechts: [1928/2022] setzte sich [Ludwig Kaas/Friedrich Merz]
	bei der Wahl zum neuen Parteivorsitzenden gegen die zwei gemäßigte Gegenkandidaten durch. Schnell
	wurde deutlich, dass [Kaas/Merz] in den linken Parteien einen größeren politischen Gegner sah als
	in der [NSDAP/AfD]. So griff er immer wieder die Parteien links [des/der] [Zentrums/CDU] an und
	rückte seine eigene Partei mit populistischen Äußerungen weiter nach rechts. Spätestens
	[1931/2025] zeigte [Kaas/Merz], dass er sich aus Pragmatismus auch der [NSDAP/AfD] annähern
	würde.
</p>
<p>
	Die vorgezogenen Neuwahlen zum [Reich/Bunde$]stag im [September/Februar] [1930/2025] kamen der
	[NSDAP/AfD] sehr gelegen. Die schlechten Ergebnisse der Vorgängerregierung und die zahlreichen
	Streitigkeiten zwischen den demokratischen Parteien trieben die Wähler in die Arme der
	[NSDAP/AfD]. Sie erzielte einen massiven Wahlerfolg - jeder fünfte Wähler gab ihr seine Stimme -
	und wurde zweitstärkste Kraft.
</p>
<p>
	[Zentrum/CDU] und [BVP/CSU] waren bei der Regierungsbildung auf die Unterstützung der [SPD/SPD]
	angewiesen. Dies sollte sich als sehr schwierig herausstellen, da die wirtschaftspolitischen
	Vorstellungen der [SPD/SPD] und der bürgerlichen Parteien weit auseinander lagen. Zudem hatten
	der Rechtsruck von [Zentrum/CDU] und [BVP/CSU] und deren verbalen Angriffe auf die [SPD/SPD] das
	Vertrauensverhältnis zur [SPD/SPD] schwer beschädigt. Nachdem [Brüning/Merz] intensive Gespräche
	mit der [SPD/SPD] geführt und sie mit der Drohung erpresst hatte, dass ein Scheitern der
	Regierung und der daraus resultierende Neuwahlen noch verheerender für die Demokratie in
	Deutschland wären, sahen sich die Sozialdemokraten gezwungen, eine Regierung unter
	[Reich/Bunde$]skanzler [Brüning/Merz] zu tolerieren.
</p>
<p>
	Mit [der/dem] [vom/von] [Zentrum/der CDU] eingebrachten [Notverordnung/Sofortprogramm]
	[„Sicherung/„Vorrang] [von/für] [Wirtschaft/Wettbewerbsfähigkeit] und [Finanzen“/Wohlstand“]
	versuchte [Brüning/Merz], die Wirtschaft zu stabilisieren, blieb damit aber erfolglos.
	Stattdessen verschärfte [Brüning/Merz] die politische Krise durch den Abbau staatlicher
	Sozialleistungen und die Aufweichung parlamentarischer Standards.
</p>
<p>
	Gleichzeitig baute die [NSDAP/AfD] ihre Position weiter aus: Auch wirtschaftlich besser gestellte
	Wählerinnen und Wähler kehrten [Zentrum/CDU] und [BVP/CSU] zunehmend den Rücken und wandten sich
	der [NSDAP/AfD] zu, weil sie in ihr eine „Alternative“ sahen.
</p>

<h3>Machtübergabe an die [NSDAP/AfD] im Jahr [1933/2028]</h3>
<p>Bereits [1932/2027] zerbrach die Regierung unter [Reich/Bundes$]kanzler [Brüning/Merz].</p>
<p>
	Bei den anschließenden Wahlen wurde die [NSDAP/AfD] mit 37,3 Prozent stärkste Partei und nahm
	sofort Koalitionsgespräche mit [dem/der] [Zentrum/CDU] auf. [Das/Die] [Zentrum/CDU] war
	tatsächlich an einem Regierungsbündnis mit der [NSDAP/AfD] interessiert. Von Seiten der
	[NSDAP/AfD] handelte es sich jedoch nur um Scheinverhandlungen, um zu demonstrieren, dass auch
	mit dem neuen Parlament keine stabile Regierung gebildet werden könne. So wurden erneut Neuwahlen
	notwendig.
</p>
<p>
	Währenddessen kam es immer wieder zu Ausschreitungen auf den Straßen. Die Gewalt ging nun
	überwiegend von Anhängern der [NSDAP/AfD] aus.
</p>
<p>
	Bei den Neuwahlen im November [1932/2027] verlor die [NSDAP/AfD] vier Prozentpunkte. Damit war
	eine parlamentarische Mehrheit mit der [NSDAP/AfD] vorerst ausgeschlossen. Die Zeitung „Vorwärts“
	titelte gar „Abwärts mit H[$itler/öcke]“. Auch andere bürgerliche Medien sahen den scheinbar
	unaufhaltsamen Aufstieg der Faschisten gestoppt. Tatsächlich steckte die [NSDAP/AfD]-Führung in
	einer innerparteilichen Krise und war mit internen Machtkämpfen beschäftigt. Gleichzeitig gab es
	erste Anzeichen eines wirtschaftlichen Aufschwungs und damit die Hoffnung auf eine politische
	Entradikalisierung.
</p>
<p>
	[Das/Die] [Zentrum/CDU] setzte darauf, den gemäßigten Flügel der [NSDAP/AfD] für eine
	Regierungs&shy;be&shy;teiligung zu gewinnen und so die [NSDAP/AfD] zu spalten. Auch die
	Gewerkschaften glaubte man ins Boot holen zu können. Ziel war es, eine Regierung quer durch alle
	Lager zu bilden, möglichst mit einer parlamentarischen Mehrheit. Das Querfrontkonzept scheiterte
	jedoch am Zögern der Gewerkschaften und an der Entmachtung [Strassers/Weidels] durch
	H[$itler/öcke]. Nun, da die Parteiführung Zerstrittenheit und Schwäche zeigte, konnte
	H[$itler/öcke] sie umgehen und mit der Unterstützung seiner Gefolgsleute selbst die Kanzlerschaft
	anstreben.
</p>
<p>
	Aus [dem Zentrum/der CDU] kam der Vorschlag, den „Wählerwillen“ zu akzeptieren und der Wahl
	H[$itlers/öckes] zum [Reich/Bundes$]kanzler zuzustimmen, um eine weitere Verschärfung der Krise
	zu verhindern. Die Konservativen glaubten, H[$itler/öcke] kontrollieren zu können, was sich
	später als fataler Irrtum erweisen sollte. Mit der Unterstützung der Konservativen wurde
	H[$itler/öcke] am 30. Januar [1933/2028] zum [Reich/Bunde$]skanzler ernannt.
</p>
<p>
	Im Februar [1933/2028] wurde auf das Reichstagsgebäude ein Brandanschlag verübt. Konservative und
	Medien schoben die Schuld mehrheitlich auf die politische Linke. Die [NSDAP/AfD] nutzte die
	Situation, um mit ihren Anhängern den politischen Gegner zu verfolgen. Linke
	[Reich/Bunde$]stags&shy;abgeordnete mussten fliehen oder wurden verhaftet. In der
	[Reich/Bunde$]stags&shy;sitzung vom 24. März [1933/2028] wurde trotz der Warnungen der [SPD/SPD]
	mit den Stimmen von [Zentrum/CDU], [BVP/CSU] und [DVP/FDP] die Macht an die [NSDAP/AfD] übergeben
	und die Demokratie faktisch abgeschafft.
</p>
<p>
	Im Sommer [1934/2029] ließ H[$itler/öcke] seine letzten politischen Gegner, wie [Ernst Röhm/Alice
	Weidel] und andere führende [NSDAP/AfD]-Mitglieder, in einer „Säuberungswelle“ beseitigen. Als
	Gründe wurden unter anderem [seine/ihre] Homosexualität und ein angeblicher Versuch eines
	„hinterhältigen Putsches“ angeführt.
</p>
<p>[1941/2030] begann die systematische [Deportation/Remigration] von Millionen Menschen.</p>
<p>Eine der dunkelsten Epochen der deutschen Geschichte hatte begonnen.</p>
<p>[/Schon wieder.]</p>
<p>
	<quote style="font-style: italic; padding: 10rem 1em 0em; color: #777; display: block"
		>„Es gibt immer wiederkehrende Zyklen, Höhen und Tiefen, aber der Verlauf der Ereignisse ist
		im Wesentlichen der gleiche, mit kleinen Abweichungen.<br />Man hat gesagt, dass sich die
		Geschichte wiederholt. Das ist vielleicht nicht ganz richtig; sie reimt sich
		lediglich.“</quote
	>
</p>
<p style="text-align: right; font-style: italic; color: #777">Theodor Reik</p>
