<h1>Der Aufstieg <nobr>der [$NSDAP/AfD]</nobr></h1>
<h2>Ein [historischer/fiktiver] [Rück/Aus$]blick</h2>
<p>
	Die [NSDAP/AfD] entwickelte sich zwischen [1920/2013] und [1933/2028] von einer kleinen
	Splitterpartei zu einer der mächtigsten politischen Bewegungen Deutschlands. Ihr Aufstieg war eng
	mit den politischen und wirtschaftlichen Krisen der [Weimarer R/Bundesr$]epublik verknüpft.
	Darüber hinaus verbreiteten die [NSDAP/AfD] über neugegründete rechte Medien massiv Propaganda.
	Dort wiederholte sie beständig rassistische und antisemitische Unwahrheiten, bis sie damit die
	Gesellschaft durchdrangen und selbst etablierte Medien und Politker die Narrative übernahmen. Mit
	dieser erfolgreichen Propaganda&shy;strategie gelang ihr die gezielte Ansprache breiter
	Bevölkerungsschichten.
</p>
<p>
	Die großen Parteien der [Weimarer R/Bundesr$]epublik – die
	[Sozialdemokratische/Sozialdemokratische] [Partei/Partei] [Deutschlands/Deutschlands]
	[(SPD)/(SPD)], die [Deutsche/Christlich] [Zentrumspartei/Demokratische Union (CDU)] und die
	[Bayerische Volkspartei (BVP)/Christlich-Soziale Union (CSU)] – versuchten, die Demokratie zu
	stabilisieren, konnten aber angesichts von Inflation, Arbeitslosigkeit und politischer
	Radikalisierung oft nicht genügend Widerstand leisten. Hinzu kam die konträren Strategien beim
	Umgang mit der [NSDAP/AfD]: Konservative sahen in der Ausbreitung rechtsradikaler Positionen in
	Teilen der Öffentlichkeit nicht eine Folge der [NSDAP/AfD]-Propaganda, sondern einen Ausdruck der
	öffentlichen Meinung. Sie folgten daher diesem Rechtsruck, was zu einer weiteren politischen
	Spaltung der Mitte führte.
</p>
<p>
	Die bürgerlich-liberale [DVP/FDP] war zwar eine wichtige politsche Kraft der [Weimarer
	R/Bundesr$]epublik, entwickelte jedoch zunehmend einen wirtschaftsliberalen Kurs und rückte ab
	[1929/2024] nach rechts. Dadurch verlor sie immer mehr an Zustimmung, bis sie schließlich
	bedeutungslos wurde.
</p>
<p>
	Linke Parteien gewann in dieser Zeit an Einfluss und forderte einen Systemwechsel, doch taten sie
	wenig bis nichts, um Wähler aus anderen Schichten zu gewinnen. Im Gegenteil, der kleinbürgerliche
	Mittelstand wurde verprellt. Die [NSDAP/AfD] fand in den linken Parteien ihre größten politischen
	Gegner und verunglimpfte sie und ihre Anhänger als [bolschewistisch/links-grün-versifft].
</p>

<h2>Frühe Jahre und politische Radikalisierung</h2>
<p>
	Die [spanische Grippe/Coronapandemie] von [1918/2020] bis [1920/2022], die Wirtschaftskrise ab
	[1923/2020] und die steigende Arbeitslosigkeit verschlechterte die wirtschaftliche Situation
	vieler Deutscher. [1928/2023] gingen Bauern in ganz Deutschland auf die Straße, um gegen die
	Politik aus Berlin zu demonstrieren. Gravierende Versäumnisse bei der Reform der Verwaltung der
	[Weimarer R/Bundesr$]epublik und die mangelnde Kompromissfähigkeit der etablierten Parteien
	führten zu einem breiten Vertrauensverlust der Bevölkerung in das politische System. Die
	[NSDAP/AfD] nutzte die Unsicherheiten und Ängste geschickt aus, indem sie sich mit ihrem
	[„nationalen/„Zukunftsplan] [Wiederaufstieg“/für Deutschland“] inszenierte. Ihr Versprechen, das
	politische Chaos zu beenden und Deutschland wieder zu stärken, fand großen Anklang.
</p>

<h2>Wahlerfolge der [$NSDAP/AfD]</h2>
<p>
	In der [Reich/Bunde$]stagswahl im Jahr [1928/2021] wurde die [SPD/SPD] die stärkste Fraktion im
	[Reich/Bunde$]stag. Aufgrund der schwierigen Mehrheitsverhältnisse zog sich die Bildung einer
	Regierung jedoch über viele Wochen. Unter der Führung von [Reich/Bunde$]skanzler [Hermann
	Müller/Olaf Scholz] wurde schließlich eine Koalition mehrerer Parteien gebildet. Bereits mit
	Beginn der Amtszeit geriet das neue Kabinett in eine schwere Krise. Grund dafür waren die
	konfliktreichen, politischen Auseinandersetzungen zwischen den Koalitionspartnern selbst.
	Insbesondere in den Bereichen Haushalt und sozialen Leistungen lagen die Positionen weit
	auseinander. Dies führte letztendlich zum Zerbrechen der Koalition im Jahr [1930/2024].
</p>
<p>
	Während die [SPD/SPD] geführte Regierung mit ihren koalitionsinternen Problemen beschäftigt war,
	vollzog sich eine weitere Radikalisierung der Parteienlandschaft. So spaltete sich aus der
	[kommunistischen/linken] Partei [der/das] [Leninbund/BSW] ab, um nach kurzen Erfolgen wieder zu
	zerfallen.
</p>
<p>
	Gleichzeitig übernahmen konservative Parteien, die eigentlich Parlamentarismus und Demokratie
	bejahten, Positionen der [NSDAP/AfD]. So bewegte sich [das Zentrum/die CDU$] immer mehr nach
	rechts: [1928/2022] konnte sich bei der Wahl zum neuen Parteivorsitzenden [Ludwig Kaas/Friedrich
	Merz] gegen die zwei gemäßigte Gegenkandidaten durchsetzen. Schnell war klar, dass [Kaas/Merz] in
	den linken Parteien den wichtigeren politischen Gegner sah, als in der [NSDAP/AfD]. So griff er
	immer wieder die [SPD/SPD] und andere Partei links [des/der] [Zentrums/CDU] an und rückte durch
	populistische Aussagen die Partei weiter nach rechts. Spätestens [1931/2025] zeigte [Kaas/Merz],
	dass er sich auch schrittweise der Option öffnen würde, mit der [NSDAP/AfD] parlamentarisch
	zusammenzuarbeiten.
</p>
<p>
	Die vorgezogenen Neuwahlen des [Reich/Bunde$]stags im [September/Februar] [1930/2025] kamen der
	[NSDAP/AfD] sehr gelegen. Die mangelhaften Ergebnisse der letzten Regierung und die zahlreichen
	Streits zwischen den demokratischen Parteien trieben die Wähler in die Arme der [NSDAP/AfD]. Sie
	erzielte einen massiven Wahlerfolg und wurde mit etwa 20% die zweitstärkste Kraft.
</p>
<p>
	[Zentrum/CDU] und [BVP/CSU] erhielten zwar die meisten Stimmen, waren aber auf die Unterstützung
	durch die [SPD/SPD] angewiesen, um eine Regierung zu bilden. Durch ihren Rechtsruck in Richtung
	der [NSDAP/AfD] und ihren Angriffen auf die [SPD/SPD] hatten sie jedoch das Vertrauensverhältnis
	zur [SPD/SPD] schwer beschädigt. Nachdem [Brüning/Merz] intensive Gespräche mit der [SPD/SPD]
	geführt hatte, und sie damit erpresste, dass ein Scheitern der Regierung und den daraus folgenden
	Neuwahlen noch verheerender für die Demokratie in Deutschland ausfallen würde, sahen sich die
	Sozialdemokraten gezwungen, eine Regierung unter [Reich/Bunde$]skanzler [Brüning/Merz] zu
	tolerieren.
</p>
<p>
	Mit [der/dem] [vom/von] [Zentrum/der CDU] eingebrachten [Notverordnung/Sofortprogramm]
	[„Sicherung/„Vorrang] [von/für] [Wirtschaft/Wettbewerbsfähigkeit] und [Finanzen“/Wohlstand“]
	versuchte [Brüning/Merz] die Wirtschaft zu stabilisieren, blieb damit jedoch erfolglos.
	Stattdessen verschärfte [Brüning/Merz] durch das Senken staatlicher Sozialleistungen und das
	Aufweichen parlamentarischer Standards die politische Krise weiter.
</p>
<p>
	Während dessen baute die [NSDAP/AfD] ihre Position aus: Auch wirtschaftlich besser gestellte
	Wähler kehrten zunehmend [dem/der] [Zentrum/ CDU] und der [BVP/CSU] den Rücken und wandten sich
	der [NSDAP/AfD] zu, da sie in ihr eine „Alternative“ sahen.
</p>

<h2>Die Machtergreifung der [NSDAP/AfD] [1933/2028]</h2>
<p>Bereits [1932/2027] zerbrach die Regierung unter [Reich/Bunde$]skanzler [Brüning/Merz].</p>
<p>
	Bei den anschließenden Wahlen wurde die [NSDAP/AfD] mit etwa 40% die stärkste Partei und nahm
	unmittelbar Koalitionsgespräche mit [dem/der] [Zentrum/CDU] auf. [Das/Die] [Zentrum/CDU] war
	tatsächlich an einem Regierungsbündnis mit der [NSDAP/AfD] interessiert. Doch von Seiten der
	[NSDAP/AfD] waren dies nur Scheinverhandlungen, mit denen sie demonstrieren wollte, dass auch mit
	dem neuen Parlament die Bildung einer stabilen Regierung nicht möglich sei. Durch einen
	Verfahrenstrick gelang es der [NSDAP/AfD] den [Reich/Bunde$]stag nach nur einer Sitzung direkt
	wieder aufzulösen.
</p>
<p>
	Währenddessen kam es immer wieder zu Ausschreitungen auf den Straßen. Dabei ging die Gewalt
	nunmehr überwiegend von [NSDAP/AfD]-Anhängern aus.
</p>
<p>
	Die [NSDAP/AfD] verlor bei der Wahl im November [1932/2027] vier Prozentpunkte. Damit war eine
	neue parlamentarische Mehrheit mit der [NSDAP/AfD] vorläufig ausgeschlossen. Die Zeitung
	„Vorwärts“ titelte sogar „Abwärts mit H[$itler/öcke]“. Auch andere bürgerliche Medien sah den
	unaufhaltsam scheinende Aufstieg der Faschisten gestoppt. Tatsächlich steckte die Führung der
	[NSDAP/AfD] in einer parteiinternen Krise und war mit inneren Machtkämpfen beschäftigt.
	Gleichzeitig zeichneten sich auf der wirtschaftlichen Ebene erste Anzeichen der Erholung und
	damit die Hoffnung auf eine politische Entradikalisierung ab.
</p>
<p>
	[Das/Die] [Zentrum/CDU] setzte darauf, den gemäßigten Flügel der [NSDAP/AfD] für eine
	Regierungs&shy;be&shy;teiligung zu gewinnen und damit die [NSDAP/AfD] zu spalten. Auch glaubte
	sie, Gewerkschaften mit ins Boot holen zu können. Damit wollte sie eine Regierung quer durch alle
	Lager möglichst mit einer parlamentarischen Mehrheit zu Stande bringen. Das Querfrontkonzept
	scheiterte jedoch am Zögern der Gewerkschaften und der Entmachtung [Strassers/Weidels] durch
	H[$itler/öcke].
</p>
<p>
	H[$itler/öcke] hielt sich all die Jahre vom [Reich/Bunde]stag fern und konzentrierte sich auf die
	Installation von Getreuen innerhalb der Parteistruktur. Jetzt, wo die Parteiführung
	Zerstrittenheit und Schwäche zeigt, konnte er sie beseitigen und selbst eine Kanzlerschaft
	anstreben.
</p>
<p>
	Aus [dem Zentrum/der CDU] kam der Vorschlag, den „Wählerwillen“ zu akzeptieren und der Wahl
	H[$itlers/öckes] zum [Reich/Bundes$]kanzler zu stimmen, um eine weitere Verschärfung der Krise zu
	verhindern. Die Konservativen glaubten, H[$itler/öcke] kontrollieren zu können, was sich später
	als fataler Irrtum erweisen wird. Mit der Unterstützung der Konservativen wurde H[$itler/öcke] am
	30. Januar [1933/2028] zum [Reich/Bunde$]skanzler ernannt.
</p>
<p>
	Im Februar [1933/2028] kam es zu einem Terroranschlag auf das Reichstagsgebäude. Konservative und
	die Medien gaben mehrheitlich den [Kommunisten/Linken und Grünen] die Schuld. Die [NSDAP/AfD]
	nutzte die Situation, um mit ihren Anhängern die politischen Gegner zu verfolgen. Linke
	[Reich/Bunde$]stags&shy;abgeordneten mussten fliehen oder wurden verhaftet. In der
	[Reich/Bunde$]stags&shy;sitzung am 24. März [1933/2028] wurde trotz der Warnungen der [SPD/SPD]
	mit den Stimmen [des Zentrum/der CDU], der [BVP/CSU] und der [DVP/FDP] die Macht an die
	[NSDAP/AfD] übergeben und die Demokratie faktisch abgeschafft.
</p>
<p>
	Noch im gleichen Jahr lösten sich alle konservativen Parteien auf und schlossen sich der
	[NSDAP/AfD] an. Im Sommer [1934/2029] ließ H[$itler/öcke] im [Röhm/Weidel]-Putsch seine letzten
	politischen Gegner, wie [Ernst Röhm/Alice Weidel] und andere führende [NSDAP/AfD]-Mitglieder, in
	einer „Säuberungswelle“ beseitigt. Als Begründung wurde under anderem [seine/ihre] Homosexualität
	und der angebliche Versuch eines „hinterhältigen Putsches“ angeführt.
</p>
<p>
	[1941/2030] begann die systematische [Deportation/Remigration] von Juden, Muslimen, Sinti und
	Roma, der letztendlich Millionen Menschen zum Opfer wurden.
</p>
<p>Eine der dunkelste Zeiten der deutschen Geschichte hatte begonnen.</p>
<p>[/Schon wieder.]</p>
