<h1>Aufstieg und Machtergreifung der [$NSDAP/AfD]</h1>
<h2>Ein [historischer/fiktiver] <nobr>[Rück/Aus$]blick</nobr></h2>
<p>
	Die [NSDAP/AfD] entwickelte sich zwischen [1920/2013] und [1933/2030] von einer kleinen
	Splitterpartei zu einer der mächtigsten politischen Bewegungen Deutschlands. Ihr Aufstieg war eng
	mit den politischen und wirtschaftlichen Krisen der
	<nobr>[Weimarer R/Bundesr$]epublik</nobr> verknüpft. Durch geschickte Propaganda, die gezielte
	Ansprache breiter Bevölkerungsschichten und die Schwäche der etablierten Parteien gelang es der
	[NSDAP/AfD], immer mehr Wähler für sich zu gewinnen und schließlich die Macht zu übernehmen.
</p>

<h2>Frühe Jahre und politische Radikalisierung</h2>
<p>
	Um [1920/2020] herrschten in Deutschland wirtschaftliche Probleme und politische Unsicherheit.
	Gravierende Versäumnisse bei der Reform der Verwaltung der
	<nobr>[Weimarer R/Bundesr$]epublik</nobr>, die mangelnde Kompromissfähigkeit der etablierten
	Parteien und das Auseinanderbrechen der Regierung [Anfang/Ende] [1933/2024] führten zu einem
	breiten Vertrauensverlust der Bevölkerung in das politische System. Dies nutze die [NSDAP/AfD]
	und setzte auf populistische Reden, nationalistische Parolen und die Mobilisierung unzufriedener
	Bürger.
</p>
<p>
	Die großen Parteien der <nobr>[Weimarer R/Bundesr$]epublik</nobr> – die
	[Sozialdemokratische/Sozialdemokratische] [Partei/Partei] [Deutschlands/Deutschlands]
	[(SPD)/(SPD)], die [Zentrumspartei/CDU] und die [Bayerische Volkspartei (BVP)/Christlich-Soziale
	Union (CSU)] – versuchten, die Demokratie zu stabilisieren, konnten aber angesichts von
	Inflation, Arbeitslosigkeit und politischer Radikalisierung oft nicht genügend Widerstand
	leisten.
</p>
<p>
	Die bürgerlich-liberale [DVP/FDP] war eine eine tragende Säule der
	<nobr>[Weimarer R/Bundesr$]epublik</nobr>, entwickelte jedoch zunehmend einen
	<nobr>[wirtschafts/neo$]liberalen</nobr> Kurs und rückte ab [1929/2024] weit nach rechts. Dadurch
	verlor sie immer mehr an Zustimmung, bis sie schließlich bedeutungslos wurde.
</p>
<p>
	Linke Parteien gewann zwar in dieser Zeit an Einfluss und forderte einen Systemwechsel, doch
	taten sie wenig bis nichts, um andere Wähler aus anderen Schichten zu gewinnen. im Gegenteil, der
	kleinbürgerliche Mittelstand wurde verprellt. Die [NSDAP/AfD] fand daher in den linken Parteien
	ihre größten politischen Gegner und verunglimpfte sie und ihre Wähler als
	[bolschewistisch/links-grün-versifft].
</p>

<h2>Wahlerfolge der [$NSDAP/AfD]</h2>
<p>
	Die [spanische Grippe/Coronapandemie] von [1918/2020] bis [1920/2022] und die folgende
	Weltwirtschaftskrise ab [1929/2023] verschlechterte die wirtschaftliche Situation der Deutschen.
	Die Arbeitslosigkeit stieg, was die Unzufriedenheit mit der Regierung weiter anheizte. Die
	[NSDAP/AfD] nutzte diese Unsicherheit geschickt aus, indem sie sich mit ihrem
	["nationalen/"Zukunftsplan] [Wiederaufstieg"/für Deutschland"] inszenierte. Ihr Versprechen, das
	politische Chaos zu beenden und Deutschland wieder zu stärken, fand großen Anklang.
</p>
<p>
	In der [Reich/Bunde$]stagswahl im Jahr [1927/2021] wurde die [SPD/SPD] die stärkste Fraktion im
	[Reichstag/Bundestag]. Aufgrund der schwierigen Mehrheitsverhältnisse zog sich die Bildung einer
	Regierung jedoch über viele Wochen. Unter der Führung von [Reich/Bunde$]skanzler [Hermann
	Müller/Olaf Scholz] wurde schließlich eine Koalition mehrerer Parteien gebildet. Bereits zu
	Beginn der Amtszeit geriet das neue Kabinett in eine schwere Krise. Grund dafür waren die
	konfliktreichen, politischen Auseinandersetzungen zwischen den Koalitionspartnern selbst. Bereits
	[1930/2024] zerbrach die Koalition an Streitfragen, wie der Finanzierung der
	Arbeitslosenversicherung.
</p>
<p>
	Während die [SPD/SPD] geführte Regierung mit ihren Problemen beschäftigt war, vollzog sich eine
	weitere Radikalisierung der Parteienlandschaft. So spaltete sich aus der
	<nobr>[kommunistischen P/Linksp$]artei</nobr> [der/das] [Leninbund/Bündnis Sahra Wagenknecht] ab,
	um nach kurzer Euphorie keine Rolle mehr zu spielen. Gleichzeitig übernahmen konservative
	Parteien, die eigentlich Parlamentarismus und Demokratie bejahten, Positionen der [NSDAP/AfD].
</p>
<p>
	Auch [ Zentrum/die CDU$] bewegte sich immer mehr nach rechts: [1928/2022] konnte sich [Ludwig
	Kaas/Friedrich Merz] bei der Wahl zum neuen Parteivorsitzenden gegen die zwei gemäßigte
	Gegenkandidaten durchsetzen. Schnell war klar, dass er in der [NSDAP/AfD] keine große Gefahr sah.
	Stattdessen griff er immer wieder die [SPD/SPD] an und glaubte, dass [ Zentrum/die CDU] von den
	vorgezogenen Neuwahlen im [September/Februar] [1931/2025] sogar profitieren würde. Spätestens
	[1931/2025] zeigte [Kaas/Merz], dass er sich auch schrittweise der Option öffnen würde, mit der
	[NSDAP/AfD] parlamentarische zusammenzuarbeiten.
</p>
<p>
	Die vorgezogenen Neuwahlen des <nobr>[Reich/Bunde$]stags</nobr> im [September/Februar]
	[1930/2025] kamen der [NSDAP/AfD] sehr gelegen. Durch die zahlreichen Streits der demokratischen
	Parteien fühlten sich die Wähler abgeschreckt und wechselten zur [NSDAP/AfD]. Sie erzielte einen
	massiven Wahlerfolg, erreichten etwa 20% und wurde zur zweitstärksten Kraft.
</p>
<p>
	Die konservativen Parteien [Zentrum/CDU] und [BVP/CSU] versuchten mit der [SPD/SPD] eine
	Regierung zu bilden, hatten jedoch in ihren Rechtsruck das Vertrauensverhältnis zu der [SPD/SPD]
	beschädigt. Um eine erneute Parlamentsauflösungen zu verhindern, beschloss die SPD, die Regierung
	[Brüning/Merz] künftig zu tolerieren.
</p>
<p>
	[Die/Das] von [Brüning/Merz] eingebrachte [Notverordnung/Sofortprogramm] "[Sicherung/Vorrang]
	[von/für] [Wirtschaft/Wettbewerbsfähigkeit] und [Finanzen/Wohlstand]" löste jedoch keine Probleme
	sondern verschärfte die politische Krise weiter. Nachdem [Brüning/Merz] intensive Gespräche mit
	der SPD geführt hatte mit dem Hinweis, die nächsten Neuwahlen würden noch verheerender für die
	Demokratie in Deutschland ausfallen, sahen sich die Sozialdemokraten gezwungen, [der/dem]
	[Notverordnung/Sofortprogramm] zuzustimmen.
</p>
<p>
	Während dessen baute die [NSDAP/AfD] ihre Position aus und konnte mit massiver Propaganda ihre
	Machtbasis weiter festigen. Auch wirtschaftlich besser gestellte Wähler wandten sich zunehmend
	von [Zentrum/der CDU] und [BVP/CSU] ab und der [NSDAP/AfD] zu, da sie in ihr eine "Alternative"
	sahen.
</p>
<p>
	[1932/2027] erschien sogar ein Aufruf von "52 Professoren" zugunsten der [NSDAP/AfD] [im/in]
	[Völkischen Beobachter/der BILD-Zeitung].
</p>
<p>
	Auf den Straßen nahm die Gewalt zwischen linken und rechten Anhängern immer mehr zu. Die
	[NSDAP/AfD] nutzte diese Situation aus und organisierte die eigenen Anhänger in einer
	["Sturmabteilung"/"Bürgerwehr"], um sich offiziell bei eigenen Versammlungen zu "schützen",
	tatsächlich aber um gegen Protestierenden gewaltsam vorzugehen.
</p>

<h2>Die Machtergreifung [1933/2028]</h2>
<p>
	[1932/2027] zerbrach die Regierung unter [Brüning/Merz]. In den anschließenden Wahlen wurde die
	[NSDAP/AfD] mit etwa 40% die stärkste Partei und nahm unmittelbar Koalitionsgespräche mit [dem
	Zentrum/der CDU] auf. [Kaas/Merz] war tatsächlich an einem Regierungsbündnis mit der [NSDAP/AfD]
	interessiert. Doch von Seiten der [NSDAP/AfD] waren dies nur Scheinverhandlungen, mit denen sie
	demonstrieren wollte, dass mit dem neuen Parlament die Bildung einer stabilen Regierung nicht
	möglich sei. Durch einen Verfahrenstrick gelang es der [NSDAP/AfD] den
	<nobr>[Reich/Bunde$]stag</nobr>
	nach nur einer Sitzung wieder aufzulösen.
</p>
<p>
	Währenddessen kam es zu bürgerkriegsähnlichen Zuständen auf den Straßen. Dabei ging die Gewalt
	nunmehr überwiegend von [NSDAP/AfD]-Anhängern aus, was oft in brutalen Ermordungen von linken
	Politikern endeten.
</p>
<p>
	Im erneuten Wahlkampf zur <nobr>[Reich/Bunde$]stagswahl</nobr> Ende [1932/2027] verschärft die
	[NSDAP/AfD] ihren Ton und erklärte die SPD zum „sozialfaschistischen“ Hauptfeind.
</p>
<p>
	Die [NSDAP/AfD] verlor bei der Wahl im November [1932/2027] vier Prozentpunkte. Damit war eine
	neue parlamentarische Mehrheit mit der [NSDAP/AfD] vorläufig ausgeschlossen. Die Zeitung
	"Vorwärts" titelte „Abwärts mit [Hitler/Höcke]“. Auch andere bürgerliche Medien sah den
	unaufhaltsam scheinende Aufstieg der Faschisten gestoppt. So sah es auch die Führung der
	[NSDAP/AfD], die im Inneren mit Machtkämpfen beschäftigt war. Gleichzeitig zeichneten sich auf
	der wirtschaftlichen Ebene erste Anzeichen der Erholung und damit die Hoffnung auf eine
	politische Entradikalisierung ab.
</p>
<p>
	[Schleicher/Merz$] setzte darauf, den gemäßigten Flügel der [NSDAP/AfD] für eine
	Regierungsbeteiligung zu gewinnen und damit die Partei zu spalten. Auch glaubte er, die freien
	Gewerkschaften mit ins Boot holen zu können. Damit wollte er eine Regierung quer durch alle Lager
	möglichst mit einer parlamentarischen Mehrheit zu Stande bringen. [Schleichers/Merzs]
	Querfrontkonzept scheiterte jedoch am Zögern der Gewerkschaften und der Entmachtung
	[Strassers/Weidels] durch [Hitler/Höcke], der nun überraschend selbst eine Kanzlerschaft
	anstrebte.
</p>
<p>
	Aus [dem Zentrum/der CDU] kam die Initiative, [Hitler/Höcke] als
	<nobr>[Reich/Bundes$]kanzler</nobr> vorzuschlagen, um eine weitere Verschärfung der Krise zu
	verhindern. Die Konservativen glaubten, ihn kontrollieren zu können, was sich später als fataler
	Irrtum erweisen wird. Mit der Unterstützung der Konservativen wurde [Hitler/Höcke] am 30. Januar
	[1933/2028] zum Kanzler ernannt.
</p>
<p>
	In der Nacht vom 27. auf den 28. Februar [1933/2028] kam es zu einem Terroranschlag auf das
	Reichstagsgebäude. Konservative und Medien gaben den [Kommunisten/Grünen und Linken] die Schuld.
	Die [NSDAP/AfD] nutzte die Situation, um mit ihrer ["Sturmabteilung"/"Bürgerwehr"] die
	politischen Gegner zu verfolgen und auszuschalten. Die linken Abgeordneten mussten fliehen oder
	wurden verhaftet.
</p>
<p>
	Da das Reichstagsgebäude nach dem Anschlag nicht benutzt werden konnte, tagte das Parlament am
	23. März [1933/2028] in der <nobr>[Krollo/Deutschen O$]per</nobr>. [Hitler/Höcke] hielt dort
	seine erste Rede vor dem <nobr>[Reich/Bunde$]stag.</nobr> Mit den Stimmen der [NSDAP/AfD], [dem
	Zentrum/CDU], der [BVP/CSU] und der [DVP/FDP] wurde [das/der]
	[Ermächtigungsgesetz/Verteidigungsfall] [verabschiedet/ausgerufen]. Obwohl die SPD ausdrücklich
	auf die Gefahr des Missbrauchs hinwies, stimmten außer ihr alle Parteien zu. Die wirksame
	Drohkulisse, die die ["Sturmabteilung"/"Bürgerwehr"] durch ihre Präsenz im Saal aufbaute und die
	durch Verhaftung, Untertauchen und Flucht bedingte Abwesenheit der linken Abgeordneten erhöhte
	den Druck auf die bürgerlichen Parlamentarier. Mit ihren Stimmem wurde die Demokratie faktisch
	abzuschaffen.
</p>
<p>
	Noch im gleichen Jahr lösten sich die konservativen Parteien auf und schlossen sich der
	[NSDAP/AfD] an.
</p>
<p>
	Im Sommer [1934/2029] ließ [Hitler/Höcke] seine politischen Gegner, wie [Ernst Röhm/Alice Weidel]
	und andere führende [NSDAP/AfD]-Mitglieder, in einer "Säuberungswelle" beseitigt. Als Begründung
	wurde under anderem [seine/ihre] Homosexualität und der angebliche Versuch eines "hinterhältigen
	Putsches" angeführt.
</p>
<p>
	[1941/2032] begann die systematische [Deportation/Remigration] von Millionen Juden, Muslimen,
	Sinti und Roma.
</p>

<!--
<h1>Notizen</h1>

<ul>
	<li>Fotos? NS-Plakate vs Social Media Posts</li>
	<li>https://de.wikipedia.org/wiki/Reichstagswahl_1928 / 2021</li>
	<li>https://de.wikipedia.org/wiki/Reichstagswahl_1930 / 2025</li>
	<li>https://de.wikipedia.org/wiki/Reichstagswahl_Juli_1932 / 2027</li>
	<li>https://de.wikipedia.org/wiki/Reichstagswahl_November_1932 / 2027</li>
	<li>https://de.wikipedia.org/wiki/Reichstagswahl_M%C3%A4rz_1933 / 2028</li>
	<li>[Stalin/Putin]</li>
	<li>Normalisierung durch Konservative</li>
	<li>Rolle der Medien</li>
	<li>[Deportation/Remigration]</li>
	<li>Sitzung der Machtergreifung</li>
	<li>Welt-Interview mit Elon Musk</li>
	<li>
		Konservative konnten nichts tun, denn die Probleme waren Bullshit, so dass keine Lösung half
	</li>
	<li>SS vs. Bürgerwehr</li>
	<li>Unterstützung durch Bauern und Handwerker</li>
	<li>Wie [NSDAP/AfD] unterschiedlichen Gruppen unterschiedliche Sachen versprochen hat</li>
</ul>
-->
